<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SPLUNK -->
    <add key="SplunkUserName" value="qlpartnersplunk" />
    <add key="SplunkPassword" value="L3tM3!n" />
    <add key="SplunkBaseUrl" value="https://splunk.qldc.ch" />
    <add key="SplunkProxyBaseUrl" value="http://splunk-proxy.local.quickline.ch" />
    <add key="SplunkLoginPath" value="/en-GB/account/insecurelogin" />
    <add key="SplunkInitialPath" value="/en-GB/app/UI-QL-vision/ott_partnerkpi" />
    <add key="SplunkUhdWifiPath" value="/en-GB/app/UI-QL-vision/uhd_wifi_analysis" />
    
    <!-- Begin Scaleout -->
    <add key="CacheDataStoragePaths" value="10.15.29.33:721,10.15.29.35:721" />
    <add key="UseOldScaleOutImpl" value="true" />
    <!-- End Scaleout -->
  </appSettings>

  <system.webServer>

    <modules>
      <add name="SplunkProxy" type="QmcReverseProxy.Splunk.Modules.SplunkProxyModule, QmcReverseProxy.Splunk" />      
    </modules>

  </system.webServer>

  <system.web>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,\,?" />
  </system.web>

</configuration>