<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Local" value="C:\Nuget" />
    <add key="CompanyRepository" value="\\mql-dsa37.qlad.ch\NugetPackageSource" />
    <add key="CompanyRepositoryArchive" value="\\mql-dsa37.qlad.ch\NugetPackageArchive" />
    <add key="Company Externals" value="\\mql-dsa37.qlad.ch\ProductionPackageSource\ExternalPackages" />
    <add key="Production" value="\\mql-dsa37.qlad.ch\ProductionPackageSource\V2019_4" />
  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

</configuration>